body {
    margin: 0;
    padding: 0
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    padding-left: 100px;
    padding-top: 100px;
    text-align: left;
}

.descriptionStyle {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 100px;
}

.headshot {
    float: left;
    padding: 50px;
    width: 200px;
    border-radius: 50%;
}

.plant3 {
    height: 75px;
    position: absolute;
    right: 50px;
}

.plant4 {
    height: 75px;
    position: absolute;
    right: 150px;
}

.plant5 {
    height: 75px;
    position: absolute;
    right: 250px;
}

.top {
    background-color: rgb(125, 99, 138);
    height: 300px;
}

.content {
    background-color: rgb(255, 255, 255);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    padding-left: 100px;
    padding-top: 50px;
    line-height: 1.5;
    width: 1000px
}

.multicolumn {
    column-count: 2;
    column-gap: 40px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: rgb(125, 99, 138);
}

.bio {
    width: 500px;
    font-size: 22px;
}

.computerbrain {
    height: 250px;
    border-radius: 10%;
    float:left;
    margin: 50px;
}

a {
    color: rgb(125, 99, 138);
    text-decoration: none;
}

a:hover {
    color: rgb(76, 1, 114);
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: rgb(233, 227, 255);
    margin: 50px;
}

hr {
    width: 50px;
    border-top: 10px dotted #4d325c;
    
}

.bottom {
    background-color: rgb(125, 99, 138);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100px;
    padding-bottom: 58px;
}

.plant1 {
    height: 75px;
    position: absolute;
    left: 50px;
}

.plant2 {
    height: 75px;
    position: absolute;
    left: 150px;
}

.plant6 {
    height: 75px;
    position: absolute;
    left: 250px;
}

.contactContent {
    border-radius: 5px;
  background-color:rgb(233, 227, 255);
    padding-top: 100px;
  font-family: 'Work Sans', sans-serif;
  height: 1000px;
  text-align: center;
}

input[type=text], select {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 500px;
    background-color: rgb(125, 99, 138);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  textarea {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 
  
  input[type=submit]:hover {
    background-color: rgb(170, 159, 182);
  }  

.phone {
    position: absolute;
    left: 50%;
    height: 500px;
    padding: 100px;
}